
header main{
  margin: 20%;
}

.menu {
  width: 100%;

  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 2%;
}



#logo{
  text-align: center;
}



.banner{  
  margin: auto;

  text-align: center;

}

#articulos{
  width: 100%;

  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 2%;
}


/* fila ropa */
.ropa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: auto 0;
}

.ropa img {
  width: 100%;
  height: auto;
}

.ropa h3 {
  font-size: 20px;
  margin: 10px 0;
}

.ropa a {
  padding: 10px 0;
  text-transform: uppercase;
  display: inline-block;
}


@media (max-width: 750px) {
  .ropa {
    grid-template-columns: repeat(2, 1fr);
  }
}