@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');



header, main{
  margin: 5%;
}

.menu {
  width: 100%;
/*   border: solid 2px orange;
 */
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 2%;
  
}
.submenu {
/*   border: solid 2px green;
 */  width: 25%;
  
}
.iconos {
/*   border: solid 2px blue;
 */  text-align: right;
  width: 33%;

}
.iconos i{
/*   border: solid 2px cyan;
 */  transform: scale(1.2);
  text-align: right;
  
}



#logo{
  text-align: center;
  font-family: 'Rubik Bubbles', cursive;
/*   background-image: url(../logo/logo.svg);
 */  background-image: url(../logo/logo2.svg);
  width: 40%;
  height: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: auto;
/*   border: solid 2px purple;
 */  transform: scale(3.1);
}





.banner{  
  margin: auto;
  text-align: center;
  height: 100%;
  width: auto;
  
  
}


img{
  width: 80%;
}

#articulos{
  width: 100%;

  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 2%;
}

nav a{
/*   border: solid 2px red;
 */  margin-right: 2%;
  text-decoration: none;
  color: black;
}

a{
  text-decoration: none;
  color: black;
}


/* fila ropa */
.ropa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: auto 0;
}

.ropa img {
  width: 80%;
  height: auto;
}

.ropa h3 {
  font-size: 20px;
  margin: 10px 0;
}

.ropa a {
  padding: 10px 0;
  display: inline-block;
}


.ropa div {

/*   border: solid 2px red;
 */  position: relative;
}


.Foto2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}

.ropa div:hover .Foto2 {
  transform: scale(1.1);
  margin: center;
  margin-top: 5%;
  opacity: 1;
}







ul {
  display: flex; /* Muestra los elementos hijos (li) en formato horizontal */
}

li {
  list-style: none; /* Quita los puntos de la lista */
  margin: 0 5px; /* Añade espacio entre los elementos (li) */
  flex-direction: row;

}



a:hover {
  color: gray; /* Cambia el color del texto del enlace al pasar el cursor por encima */
}







@media (max-width: 600px) {
  .ropa {
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    flex-direction: column; /* Muestra los elementos hijos (li) en formato vertical */
  }
  li {
    margin: 10px 0; /* Añade espacio entre los elementos (li) */
  }
}

@media (max-width: 300px) {
  .ropa {
    grid-template-columns: repeat(1, 1fr);
  }
}