
header, main{
  margin: 3%;

}

.menu {
  width: 100%;
  border: solid 2px blue;

  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 2%;
  
  
}

.submenu {
  border: solid 2px turquoise;
  width: 25%;
  
}

.iconos {
  border: solid 2px violet;
  text-align: right;
  width: 33%;

}
.iconos i{
  border:  solid 2px red;
  transform: scale(1.2);
  margin-right: 2%;
  
}



#logo{
  text-align: center;
  font-family: 'Rubik Bubbles', cursive;
/*   background-image: url(../logo/logo.svg);
 */  background-image: url(../logo/svg.svg);
  width: 40%;
  height: 10%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  margin: auto;
  border: solid 2px purple;
  transform: scale(3.1);
/*   margin-top: 0%;
 */}





.banner{  
  margin: auto;
  text-align: center;
  height: 100%;
  width: auto;
  
  
}


img{
  width: 80%;

}

#articulos{
  width: 100%;

  display: flex;
  justify-content: space-between;
  margin-top: 2%;
  margin-right: 2%;
}

nav a{
  border: solid 2px red;
  margin-right: 2%;
  text-decoration: none;
  color: black;
}

a{
  border: solid 2px green;
  text-decoration: none;
  color: black;
}


/* fila ropa */
.ropa {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  margin: auto 0;
  
  text-align: center;
  align-items: center;
  justify-content: center; 
  
}

.ropa img {
  height: auto;
  border:  solid 2px red;
}

.ropa h3 {
  font-size: 20px;
  margin: 10px 0;
}

.ropa a {
  display: inline-block;
}


.ropa div {

  border: solid 2px red;
  position: relative;
}


.Foto2 {
  position: absolute;
  top: 0;
  margin-left: -80%;
  opacity: 0;
  transition: all 1s;
  border-radius: 5%;
}

/* .ropa div:hover .Foto2 {
  transform: scale(1.1);
  margin: center;
  margin-top: 5%;
  opacity: 1;
} */

.Foto2:hover  {
  transform: scale(1.1);
  margin: center;
  margin-top: 5%;
  opacity: 1;
}


ul {
  display: flex; /* Muestra los elementos hijos (li) en formato horizontal */
}

li {
  list-style: none; /* Quita los puntos de la lista */
  margin: 0 5px; /* Añade espacio entre los elementos (li) */
  flex-direction: row;

}



a:hover {
  color: gray; /* Cambia el color del texto del enlace al pasar el cursor por encima */
}







@media (max-width: 600px) {
  .ropa {
    grid-template-columns: repeat(2, 1fr);
  }
  nav {
    flex-direction: column; /* Muestra los elementos hijos (li) en formato vertical */
  }
  li {
    margin: 10px 0; /* Añade espacio entre los elementos (li) */
  }
}

@media (max-width: 300px) {
  .ropa {
    grid-template-columns: repeat(1, 1fr);
  }
}