/* body{overflow : hidden; overflow-y : scroll; 
  overflow : -moz-scrollbars-vertica} */

  header, main{
    margin: 5%;
  }
  /* MENU */
  .menu {
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-right: 2%;
    
  }
  .nav-menu {
    width: 25%;
  }
  
  
  
  a{
    text-decoration: none;
    color: black;
  }
    
  a.active{
    text-decoration: underline;
  }
  
  /* ICONOS */
  .iconos {
    text-align: right;
    width: 33%;
  }
  
  .iconos i{
    transform: scale(1.2);
    text-align: right;  
  }
  /* bandera ca, es, en */
  #ca, #es, #en{
    background-repeat: no-repeat;
    background-size: 100% 80%;
    text-decoration: none;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    margin-top: 2%;
    margin-right: 2%;
    text-align: right;
    height: 100%;
    scale: 1.2;
    margin-bottom: 0;
    
  }
  
  #ca{
    background-image: url(../img/banderas/cat.webp);
  }
  #es{
    background-image: url(../img/banderas/es.webp);
  }
  #en{
    background-image: url(../img/banderas/en.webp);
  }
  
  /* LOGO */
  #logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 10%;
    height: 10%;
  
    background-image: url(../logo/logo2.svg);
  
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
  }
  
  
  
  .menu {
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
  }
  /*logo*/
  .nav-brand {
    border-radius: 8px;
    width: 50px;
  }
  
  /* Responsive Button */
  .menu-btn {
    scale: 2;
    left: 30px;
    top: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 2; /* para que se superponga al menu */
    display: none;
  }
  
  
  
  
  
  /* BANNER */
  .banner{  
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    height: 500px;
    width: auto;
    display: flex;
  }
  
  .banner img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .7s ease;
  }
  
  .banner img:hover{
    width: 20%;
    opacity: 1;
    filter: contrast(120%);
  }
  
  
  /* Estilos para el carousel */
  .carousel {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    display: none;
    position: relative;
  }
  
  .imagen {
    width: 100%;
    display: none;
  }
  
  .imagen img {
    width: 100%;
  }
  
  
  
  
  
  
  
  
  
   /* fila ropa */
   .ropa {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: auto 0;
    
    text-align: center;
    align-items: center;
    justify-content: center; 
    display: block;
    margin: 0 auto;
    
  }
  
  .ropa img {
    width: 100%;
    height: 500px;
  }
  
  #logobr{
    width: 25%;
    height: 300px;
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
  }

  .ropa h4{
    font-size: 15px;
    margin: 10px 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-10%);
    border-top: solid black 1px;
    border-bottom: solid black 1px;
  }

  .ropa h5{
    font-size: 15px;
    margin: 10px 0;
    position: absolute;
    left: 0;
    top: 160%;
    transform: translateY(-50%);
    text-align: justify;
}

  .ropa h3 {
    font-size: 20px;
    margin: 10px 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-280%);
  }
  
  
  .Foto2 {
    position: absolute;
    top: 0;
    margin-left: -80%;
    opacity: 0;
    transition: all .7s;
    border-radius: 5%;
  }
  
  
  .Foto2:hover  {
    transform: scale(1.1);
    margin: center;
    margin-top: 5%;
    opacity: 1;
  }
  
  
  ul {
    display: flex; /* Muestra los elementos hijos (li) en formato horizontal */
  }
  
  li {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0 5px; /* Añade espacio entre los elementos (li) */
    flex-direction: row;
  
  }
  
  
  a:hover {
    color: gray; 
  }
  
  
  /* footer */
  .footer {
    background: rgb(53, 51, 51);
    color: grey;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
  }
  
  /* MOBIL */
  @media (max-width: 600px) {
  
    /* MENU MOBIL */
    /* boton */
    .menu-btn {
      display: block;
    }
      
    .menu-btn:hover {
      opacity: 0.5;
    }
      /* menu */
    .menu ul.nav-menu {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      width: 50%;
      height: 100%;
      border-right: #ccc 1px solid;
      opacity: 0.9;
      padding: 30px;
      transform: translateX(-500px);
      transition: transform 0.5s ease-in-out;
      z-index: 1;
    }
    .menu ul.nav-menu li {
      margin-top: 40px;
      padding: 20px;
      border-bottom: #ccc solid 1px;
      font-size: 14px;
    }
  
      
    .menu ul.nav-menu.show {
      transform: translateX(-20px);
    }
  
  
    /* ICONOS */
    .menu ul.iconos {
      top: 520px;
      left: 40px;
      position: absolute;
      transition: transform 0.5s ease-in-out;
      z-index: 1;
      transform: translateX(-500px);
  
  
    }
    .menu ul.iconos li {
      padding: 10px;
      font-size: 14px;
    }
      
    .menu ul.iconos.show {
      transform: translateX(-20px);
    }
      
  
  
  
    /* LOGO */
    #logo{
      scale: 3;
      margin-top: 70px;
      left: 0;
      margin-left: 60%;
      
    }
      /* banner */
    .banner{
      display: none; /* Se quita el banne */
    }
    .carousel {
      display: flex;
    }
    /* ropa */
    .ropa {
      grid-template-columns: repeat(2, 1fr); /* solo 2 imagenes por fila */
    }
    nav {
      flex-direction: column; /* Muestra los elementos hijos (li) en formato vertical */
    }
    li {
      margin: 10px 0; /* Añade espacio entre los elementos (li) */
    }
  }
  
  @media (max-width: 300px) {
    .ropa {
      grid-template-columns: repeat(1, 1fr); /* solo 1 imagen por fila */
    }
  }